@charset "utf-8";
/* Mobile CSS Document */

/*body*/
body{
	margin: 0 auto;
	font-family:verdana,helvetica,arial,sans-serif;
	background-color: #fff;
}
/*****/
/*index page*/
#overalImg{
	margin-top: 50px;
}
.thickboxImg img{
	padding: 5px;
	width: 200px;
        height: 150px;
}
.thickboxImg{
        text-align: center;
}
#introtext{
    margin-top: 20px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}
#introtext h3{
    font-size: 13px;
}
#overalImg .topmenu h1{
    font-size: 18px;
}
#introtext hr{
    margin-top: 10px;
}
#introtext p{
    font-size: 12px;
}
/*****/
/*navigation bar*/
nav ul {
    list-style: none;
    margin:0;
    padding:0;
    text-align:center;
}

nav li{
    display:inline;
}
nav a{
	text-align: center;
        display: inline-block;
        padding:10px;
	color: #000;
	height: 30px;
	width: 89%;
	text-decoration: none;
	border: 1px solid black;
	border-radius: 5px;
	margin: 5px;
	padding-bottom: 0px;
	background-color: #f1b6b8;
}


nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		margin-top: -10px;
		padding-top: 10px;
		left: 0;
		right: 0;
	}


nav ul li:hover a {
	background-color:#000;
	color: #fff;
}
		
nav ul li ul li:hover a {
		background-color:#f1b6b8;
		color: #000;
}
/*****/

/*Top bar*/
#topbar{
	background-color:#f1b6b8;
	width:100%;
	height:100px;
	color:#000;
	padding-top:1px;
	padding-bottom:6px;
}	
#logodiv{
       text-align: center;

	
}
#logodiv img{
        height: 75px;
}	
#homediv{
	padding:6px 80px 0px 80px;	
}

.topmenu h1{
    font-size: 15px;
    text-align: center;
}
/*****/
	
/*Lunch, Breakfast, Dinner*/
div.img {
    width: 290px;
    margin-top: 60px;
    padding: 4px;
    border: 1px solid #000;
    margin-left: auto;
    margin-right: auto;
    
}	

div.img img {
    width: 260px;
    height: 180px;
    margin: 5px;
    border: 1px solid #ffffff;
}

.img h3{
    text-align: center;
}

div.img a:hover img {
    border: 1px solid #000;
}
/*****/
h1{
color: #363636;
text-align: center;
margin: 0 auto;
}

/*contacts*/
#wrapper {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
#wrapper hr {
	border-bottom-style: solid;
 	border-bottom-color: #333;
}
#wrapper #content {
 	padding-top: 30px;
 	padding-bottom:40px;
 	width: 280px;
}
#wrapper #content h2 {
 	font-size: 18px;
 	color: #000;
 	display: block;
	padding-bottom:20px;
	margin-bottom:-40px;
}

 #center{
	width: 280px;
	padding-top: 10px;
	padding-bottom: 100px;
	margin-right:auto;
	margin-left: auto;
	
}
#columns p{
    font-size: 12px;
}
#wrapper textarea{
    width: 250px;
    height: 70px;   
}
/*****/

/*Calendar css*/
#calendar table{
	margin-top: 60px;
        width: 97%;
}
#calendar th{
	background-color: #f1b6b8;
}
#calendar table, #calendar td, #calendar th{
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	
}
/*TR.week th{
    visibility: hidden;
    position: fixed; 
}*/
#calendar td{
	background-color: #f1b6b8;
	vertical-align: top;
	text-align: left;
}
#calendar td img{
        float: right;
	width: 50px;
	height: 40px;
}

.pictext{
    font-weight: bold;
    text-decoration: none;
    font-size: 9px;
    color: #000;
}
.pictext h4:hover {
    color: #fff;
}
.pictext h4{
    text-align: center;
    margin-bottom: auto;
}
/*****/
/*globalImg recipe pages*/
#globalImg{
    margin-top: 40px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#left{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#right{
    width: 280px;
    margin: 0 auto;
    
}
#globalImg h2{
    font-size: 20px;
    text-decoration: underline;
}
#globalImg h4{
    font-size: 15px;
}
@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: none;
  }
}
#globalImg ol li{
    margin-left: -10px; 
    font-size: 14px;
    padding-bottom: 7px;
}
#globalImg p, #globalImg ul li{
    font-size: 14px;
    padding-bottom: 7px;
}
#globalImg h3{
    text-align: center;
    margin-left: 20px;
    margin-top: 19px;
    font-size: 20px;
}

#globalImg img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    border: 1px solid #000;
    width: 270px;
    height: 170px;
}

#undertext {
	display: inline-block;
        margin-left: 15px;

}
#comments {
	margin-top: 30px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#comments #box{
	display: block;
	border: 1px solid #000;
	
	height: 300px;
	background-color: #f1b6b8;
}
#comments #box h5{
	margin-left: 20px;
}

#box p{
	margin-left: 20px;
}


